{% extends "base.html" %}


{% block content %}
{% block inner_content %}
{% endblock %}
<!-- edit-CILOs and Modify-Assessment-Method -->
<div class="modal fade bd-example-modal-lg edit-CILOs" tabindex="-1" role="dialog" aria-labelledby="edit-CILOs"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="myLargeModalLabel">{{ get_str('EDIT') }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<label>{{ get_str('COURSE_TITLE') }} : &nbsp;</label>
					<label id="edit-Course-name" value="-1"></label>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<label>{{ get_str('COURSE_CODE') }} : &nbsp;</label>
					<label id="edit-Course-code"></label>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%">
					<span>
						<label>{{ get_str('EFFECTIVE_SINCE') }} : &nbsp;</label>
						<label><input type="text" class="form-control" id="effective-course-year"
								name="effective_course_year" placeholder="{{ get_str('YEAR') }}" aria-label=""
								aria-describedby="basic-addon1"></label>
					</span>
				</div>
				<hr>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<label>{{ get_str('CILOS') }}</label>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-success" id="CILOs-import" data-toggle="modal"
									data-target=".upload-file" onclick="set_import_type(1)">{{ get_str('IMPORT')
									}}</button>
							</div>
						</div>
						<table class="table table-bordered table-striped " id="edit-CILOs-table"
							style="margin-top: 5px;">
							<tr style="text-align: center; width: auto;">
								<th>
									<label>{{ get_str('CILO') }}</label>
								</th>
								<th>
									<label>{{ get_str('DESCRIPTION') }}</label>
								</th>
							</tr>
						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<label>{{ get_str('ASSESSMENT_METHODS') }}</label>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-success" id="assessment-import" data-toggle="modal"
									data-target=".upload-file" onclick="set_import_type(2)">{{ get_str('IMPORT')
									}}</button>
								<button type="button" class="btn btn-light" id="Assessment-methods-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<table class="table table-bordered table-striped " id="edit-Assessment-methods-table"
							style="margin-top: 5px;">

							<tr style="text-align: center;">
								<th>
									<label>{{ get_str('NAME') }}</label>
								</th>
								<th>
									<label>{{ get_str('RELATED_CILOS') }}</label>
								</th>
								<th>
									<label>{{ get_str('PRECENTAGE') }}</label>
								</th>
								<th></th>
							</tr>
						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;">
					<div class="col" style="text-align: right;">
						<button type="button" class="btn btn-warning" data-dismiss="modal" style="margin-left: 5px;">
							{{ get_str('CANCEL') }}
						</button>
						<button type="button" class="btn btn-primary" style="margin-left: 5px;" onclick="edit_course()">
							{{ get_str('CONFIRM') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- upload -->
<div class="modal fade upload-file" tabindex="-1" role="dialog" aria-labelledby="upload-file" aria-hidden="true"
	id="upload-file-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" id="import-file-type" value="-1">
				<label class="modal-title" id="newproductModalLabel">{{ get_str('UPLOAD') }}</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="img-update-form" action="" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="csrf_token" value="" />
					<input type="hidden" name="update_type" id="update-type" />
					<input type="hidden" name="product_id" id="product-id" />
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile" name="file"
							accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
						<label class=" custom-file-label" for="customFile">{{ get_str('CHOOSE_FILE') }}</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">{{ get_str('CANCEL') }}</button>
				<button type="button" class="btn btn-primary" onclick="upload()">{{ get_str('UPLOAD') }}</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
{% block courseScript %}
{% endblock %}
<script src="/static/js/courses_base.js"></script>
<script>
	function edit_get_line_nums() {
		var num = $("#edit-CILOs-table .Edit-CILOs-tbale-tr").length;
		var text1 =
			'<div class="input-group mb-3">\
        <div class="input-group-prepend">\
            <div class="input-group-text"><input type="checkbox" class="Related_CILOs_CheckBox" aria-label="Checkbox for following text input" value="'
		var text2 = '" onchange="edit_set_new_course_Related_CILOs_value(this)" >\
            </div>\
        </div><input type="text" class="form-control related-CILOs-dropbox-value" placeholder="" aria-label="Text input with checkbox" value="'
		var text3 = '" disabled></div>'
		$(".edit-Related-CILOs-dropmenu").children().remove();
		for (var i = 1; i <= num; i++) {
			$(".edit-Related-CILOs-dropmenu").append(text1 + i + text2 + i + text3)
		}
	}
	$(document).ready(function () {
		$("#Assessment-methods-add").click(function () {
			var append_text =
				'<tr class="Edit-assessment-methods-tbale-tr" style="text-align: center"; >\
                            <td><input type="text" class="form-control edit-Assessment-name" placeholder="please input name" value="" aria-label=""\
                                    aria-describedby="basic-addon1" style="text-align: center;"></td>\
                            <td>\
                                <div class="input-group Related-CILOs-input"><input type="text" class="form-control Related-CILOs-input-area"\
                                        placeholder="please choose CILOs" value="" aria-label="" aria-describedby="basic-addon2"\
                                        style="text-align: center;" disabled>\
                                    <div class="input-group-append">\
                                        <div class="dropdown" style="display: inline; ">\
                                            <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"\
                                                aria-expanded="false" style="float:right"></button>\
                                            <div class="dropdown-menu edit-Related-CILOs-dropmenu" aria-labelledby="dropdownMenuLink"></div>\
                                        </div>\
                                    </div>\
                                </div>\
                            </td>\
                            <td><input type="text" class="form-control percentage-input" placeholder="please input percentage" value="" aria-label=""\
                                    aria-describedby="basic-addon1" style="text-align: center;"></td>\
                            <td><button type="button" class="btn btn-light" onclick="minus(this)"><i class="fa fa-minus"></i></button></td>\
                        </tr>';
			$("#edit-Assessment-methods-table").append(append_text);
			edit_get_line_nums();
		});
	});

	var edit_json = {}
	var json_temp = {}
	var edit_cilos_json;
	var edit_assessment_json;
	var edit_assessment_counter;
	var edit_assessment_related;
	function edit_course() {
		edit_json = {}
		edit_cilos_json = new Array()
		edit_json.course_id = $("#edit-Course-name").attr("value")
		edit_json.effective_since = $("#effective-course-year").val()
		$("#edit-CILOs-table").find(".Edit-CILOs-tbale-tr").each(function () {
			json_temp = {}
			json_temp.cilo_index = $(this).find(".CILO-order").attr("value")
			json_temp.cilo_description = $(this).find(".CILOs-description").val()
			edit_cilos_json.push(json_temp)
		})
		edit_json.cilos = edit_cilos_json

		edit_assessment_json = new Array()
		edit_assessment_counter = 1;
		$("#edit-Assessment-methods-table").find(".Edit-assessment-methods-tbale-tr").each(function () {
			json_temp = {}
			json_temp.method_index = edit_assessment_counter;
			edit_assessment_counter++;
			json_temp.method_name = $(this).find(".edit-Assessment-name").val()
			edit_assessment_related = new Array();
			$(this).find(".Related_CILOs_CheckBox").each(function () {
				if ($(this).prop("checked") == true) {
					edit_assessment_related.push($(this).val())
				}
			})
			json_temp.cilos_addressed = edit_assessment_related
			json_temp.weight = $(this).find(".percentage-input").val()
			edit_assessment_json.push(json_temp)
		})
		edit_json.assessment_methods = edit_assessment_json
		$.ajax({
			type: "PATCH",
			url: "/api/v1/courses",
			async: false,
			data: JSON.stringify(edit_json),
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			success: function (data) {
				console.log(data)
				$('#messageModal').find(".modal-title").text("{{ get_str('SUCCESS') }}")
				$('#messageModal').find(".modal-body").html('<p>' + '{{ get_str("COURSE_MODIFIED_SUCCESSFULLY") }}' + '</p>')
				$('#messageModal').modal('show')
				$("#dialog-comfirm-button").on("click", function () {
					window.location.reload()
				})
			},
			error: function (jqXHR) {
				$('#messageModal').find(".modal-title").text("error")
				$('#messageModal').find(".modal-body").html('<p>' + jqXHR.responseJSON.error + '</p>')
				$('#messageModal').modal('show')
			}
		})
		console.log(edit_json)
	}

	function upload() {
		var file = $('#customFile').val()
		if (file == '') {
			$('#messageModal').find(".modal-title").text("error")
			$('#messageModal').find(".modal-body").html('<p>' + "{{ get_str('NO_CHOOSE_FILE_ERROR') }}" + '</p>')
			$('#messageModal').modal('show')
			return false
		}
		var fileName = file.substring(file.lastIndexOf(".") + 1).toLowerCase();
		if (fileName != "xls" && fileName != "xlsx") {
			$('#messageModal').find(".modal-title").text("error")
			$('#messageModal').find(".modal-body").html('<p>' + "{{ get_str('FILE_TYPE_ERROR') }}" + '</p>')
			$('#messageModal').modal('show')
			return false
		}
		if ($('#customFile')[0].files[0].size > 524288) {
			$('#messageModal').find(".modal-title").text("error")
			$('#messageModal').find(".modal-body").html('<p>' + "{{ get_str('FILE_SIZE_ERROR') }}" + '</p>')
			$('#messageModal').modal('show')
			return false
		}
		var formData = new FormData();
		formData.append("file", $('#customFile')[0].files[0])
		$.ajax({
			type: "POST",
			url: "/api/v1/excel_parser",
			data: formData,
			processData: false,
			contentType: false,
			success: function (data) {
				console.log(data)
				if (typeof (data.content) == "undefined") {
					$('#messageModal').find(".modal-title").text("error")
					$('#messageModal').find(".modal-body").html('<p>' + "{{ get_str('FILE_CONTENT_ERROR') }}" + '</p>')
					$('#messageModal').modal('show')
					return false
				}
				switch ($("#import-file-type").attr("value")) {
					case '1':
						for (let i = 0; i < data.content.length >= $("#edit-CILOs-table .Edit-CILOs-tbale-tr").length ? $("#edit-CILOs-table .Edit-CILOs-tbale-tr").length : data.content.length; i++) {
							if (typeof (data.content[i].description) == "undefined") {
								$("#upload-file-modal").modal('hide')
								return false
							}
							$("#edit-cilo-index-" + i).val(data.content[i].description)
						}
						break;
					case '2':
						for (let i = 0; i < data.content.length; i++) {
							if (typeof (data.content[i].name) == "undefined" || typeof (data.content[i].percentage) == "undefined") {
								$("#upload-file-modal").modal('hide')
								return false
							}
							$("#Assessment-methods-add").trigger('click');
							$("#edit-Assessment-methods-table .Edit-assessment-methods-tbale-tr").eq(i).find(".edit-Assessment-name").val(data.content[i].name)
							$("#edit-Assessment-methods-table .Edit-assessment-methods-tbale-tr").eq(i).find(".percentage-input").val(data.content[i].percentage)
						}
						break;
					case '3':
						for (let i = 0; i < data.content.length; i++) {
							if (typeof (data.content[i].description) == "undefined") {
								$("#upload-file-modal").modal('hide')
								return false
							}
							$("#CILOs-add").trigger('click');
							$("#CILOs-table .new-CILOs-tbale-tr-value:last").find(".CILOs-description").val(data.content[i].description)
						}
						break;
					case '4':
						for (let i = 0; i < data.content.length; i++) {
							if (typeof (data.content[i].name) == "undefined" || typeof (data.content[i].percentage) == "undefined") {
								$("#upload-file-modal").modal('hide')
								return false
							}
							$("#new-Assessment-methods-add").trigger('click');
							$("#Assessment-methods-table .new-Assessment-methods-tr:last").find(".new-Assessment-name").val(data.content[i].name)
							$("#Assessment-methods-table .new-Assessment-methods-tr:last").find(".new-Assessment-percentage").val(data.content[i].percentage)
						}
						break;
					default:
						console.log("import failed")
						break;
				}
				$("#upload-file-modal").modal('hide')
			},
			error: function (jqXHR) {
				$('#messageModal').find(".modal-title").text("error")
				$('#messageModal').find(".modal-body").html('<p>' + jqXHR.responseJSON.error + '</p>')
				$('#messageModal').modal('show')
			}
		})
	}

</script>
{% endblock %}