{% extends "base.html" %}

{% block title %}Course Designer{% endblock%}


{% block content %}
<div class="row">
	<div class="col" id="location">
		<span><h2>Course Designer Home Page</h2></span>
	</div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg">
	<i class="fa fa-plus"></i>
</button>
<span>Add new course</span>
<br><br>


<table class="table table-bordered table-striped table-hover">
	<tr>
		<th style="width: 87%;">Course Name</th>
		
		<th style="min-width: 250px;">Actions</th>
	</tr>
	{% for i in range (0,6) %}
	<tr>
		<td>{{ i+1 }}</td>
		
		<td>
			<div class="dropdown">
				<button class="btn btn-light dropdown-toggle" type="button" id="maangeButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-gear"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal" data-target="#editModal"
						data-category-id="id" data-category-name="name"
						data-category-priority="priority">Edit CILOs</a>
						<hr>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"
						data-category-id="category_id"
						data-category-name="category_name">Modify Assessment Method</a>
				</div>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

<!-- Large modal -->
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".define-box">Large modal</button>
-->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
	  <div class="modal-header">
		<h4 class="modal-title" id="myLargeModalLabel">New Course</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">×</span>
		</button>
	  </div>

	  <div class="modal-body">
		<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
			<div class="col">
			  <h5>Course title:</h5>
			  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
			</div>
			<div class="col">
			  <h5>Lecturer:</h5>
			  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row" style="margin: 2.5%;margin-bottom: 0%">
			<div class="col">
			  <h5>Course code:</h5>
			  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
			</div>
			<div class="col">
			  <h5>Course type:</h5>
			  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
		  <div class="col">
			  <h5>Pre-requisites</h5>
			  <table class="table table-bordered table-striped ">
				  
				  <tr style="text-align: center;"><th><h5>Course name</h5> </th></tr>
				  {% for i in ["test1","test2","test3"] %}
				  <tr style="text-align: center;"><td>{{i}}</td></tr>
				  {% endfor %}
				  
			  </table>
		  </div>
		</div>
		<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
		  <div class="col">
			  <div class="row">
				  <div class="col" >
					  <h5>CILOs</h5>
				  </div>
				  <div class="col" style="text-align: right;">
					  <button type="button" class="btn btn-success">Import</button>
					  <button type="button" class="btn btn-light">
						  <i class="fa fa-plus"></i>
					  </button>
				  </div>
				  
			  </div>
			  <table class="table table-bordered table-striped " style="margin-top: 5px;">
				  
				  <tr style="text-align: center;">
					  <th><h5>Course name</h5> </th>
					  <th><h5>Description</h5></th>
					  <th><h5>Dependencies</h5></th>
					  <th></th>
				  </tr>
				  {% for i in ["test1","test2","test3"] %}
				  <tr style="text-align: center;">
					  <td><input type="text" class="form-control" placeholder="please input course name" value="{{i}}" aria-label="" aria-describedby="basic-addon1" style="text-align: center;"></td>
					  <td><input type="text" class="form-control" placeholder="please input description" value="{{i+'description'}}" aria-label="" aria-describedby="basic-addon1" style="text-align: center;"></td>
					  <td><button type="button" class="btn btn-info" data-toggle="modal" data-target=".define-box"> Define</button></td>
					  <td><button type="button" class="btn btn-light">
						  <i class="fa fa-minus"></i>
					  </button></td>
				  </tr>
				  {% endfor %}
				  
			  </table>
		  </div>
		</div>
		<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
		  <div class="col">
			  <div class="row">
				  <div class="col" >
					  <h5>Assessment methods:</h5>
				  </div>
				  <div class="col" style="text-align: right;">
					  <button type="button" class="btn btn-success">Import</button>
					  <button type="button" class="btn btn-light">
						  <i class="fa fa-plus"></i>
					  </button>
				  </div>
				  
			  </div>
			  <table class="table table-bordered table-striped " style="margin-top: 5px;">
				  
				  <tr style="text-align: center;">
					  <th><h5>Name</h5> </th>
					  <th><h5>Related CILOs</h5></th>
					  <th><h5>Percentage</h5></th>
					  <th></th>
				  </tr>
				  
				  {% for i in ["test1","test2","test3"] %}
				  <tr style="text-align: center;">
					  <td><input type="text" class="form-control" placeholder="please input name" value="{{'Assignment'}}" aria-label="" aria-describedby="basic-addon1" style="text-align: center;"></td>
					  <td>	
						  <div class="input-group ">
							<input type="text" class="form-control" placeholder="please choose CILOs" value="{{'1,4'}}" aria-label="" aria-describedby="basic-addon2" style="text-align: center;" disabled>
							<div class="input-group-append">
							  <div class="dropdown" style="display: inline; ">
								
								  <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="float:right">
	  
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
									  {% for i in ["1,3","1,2"] %}
									  <div class="input-group mb-3">
										  <div class="input-group-prepend">
											<div class="input-group-text">
											  <input type="checkbox" aria-label="Checkbox for following text input" onchange="">
											</div>
										  </div>
										  <input type="text" class="form-control" placeholder="{{i}}" aria-label="Text input with checkbox" disabled>
										</div>
										{% endfor %}
								  </div>
							  </div>
							</div>
						  </div>
						  
					  </td>
					  <td>25%</td>
					  <td><button type="button" class="btn btn-light">
						  <i class="fa fa-minus"></i>
					  </button></td>
				  </tr>
				  {% endfor %}
				  
			  </table>
		  </div>
		</div>
		<div class="row" style="margin: 2.5%;">
		  <div class="col" style="text-align: right;">
			  <button type="button" class="btn btn-warning">
				  Cancel
			  </button>
			  <button type="button" class="btn btn-primary" style="margin-left: 5px;">
				  Comfirm
			  </button>
		  </div>
		</div>
	  </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg define-box" tabindex="-1" role="dialog" aria-labelledby="define-box" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		
		<div class="modal-header" >
		  <h4 class="modal-title" id="myLargeModalLabel" >CILO Dependencies</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		  </button>
		</div>
  
		<div class="modal-body">
		  <div class="row" style="margin: 2.5%;margin-bottom: 0%;">
			<div class="input-group ">
				<div class="input-group-prepend">
				  <div class="dropdown" style="display: inline; ">
					
					  <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="float:right">
						Type
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal" data-target="#editModal"
						data-category-id="id" data-category-name="name"
						data-category-priority="priority">Courses</a>
						<hr>
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"
						data-category-id="category_id"
						data-category-name="category_name">CILOs</a>
					  </div>
				  </div>
				</div>
				<input type="text" class="form-control" placeholder="Search" value="" aria-label="" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" >
						<i class="fa fa-search"></i>
					</button>
				</div>
			  </div>
		  </div>



		  <div class="row" style="margin: 2.5%;margin-bottom: 0%;">
			<div class="col">
				<div class="row">
					<div class="col" style="text-align: center;">
						<h5>Search results</h5>
					</div>
				</div>
				<table class="table table-bordered table-striped " style="margin-top: 5px;">					
					<tr style="text-align: center;">
						<th><h5>Course</h5> </th>
						<th><h5>CILO</h5></th>
						<th style="width: 30px;"><h5>Action</h5></th>
					</tr>
					{% for i in ["1","2","3"] %}
					<tr style="text-align: center;">
						<td>{{'Course '+i}}</td>
						<td>{{'CILO '+i}}</td>
						<td><button type="button" class="btn btn-light">
							<i class="fa fa-plus"></i>
						</button></td>
					</tr>
					{% endfor %}
					
				</table>
			</div>
		  </div>
		  <div class="row" style="margin: 2.5%;margin-bottom: 0%;">
			<div class="col">
				<div class="row">
					<div class="col" style="text-align: center;">
						<h5>Added CILOs</h5>
					</div>
				</div>
				<table class="table table-bordered table-striped " style="margin-top: 5px;">
					
					<tr style="text-align: center;">
						<th><h5>Course</h5> </th>
						<th><h5>CILO</h5></th>
						<th style="width: 30px;"><h5>Action</h5></th>
					</tr>
					{% for i in ["1","2","3"] %}
					<tr style="text-align: center;">
						<td>{{'Course '+i}}</td>
						<td>{{'CILO '+i}}</td>
						<td><button type="button" class="btn btn-light">
							<i class="fa fa-minus"></i>
						</button></td>
					</tr>
					{% endfor %}
					
				</table>
			</div>
		  </div>
		  <div class="row" style="margin: 2.5%;">
			<div class="col" style="text-align: right;">
				<button type="button" class="btn btn-warning">
					Cancel
				</button>
				<button type="button" class="btn btn-primary" style="margin-left: 5px;">
					Comfirm
				</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}
