{% extends "courses_base.html" %}
{% macro tag_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER') }}
{% endif %}
{%- endmacro %}
{% block title %} {{ tag_title() }} {% endblock%}


{% block inner_content %}

{% macro tab_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT_HOME_PAGE') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER_HOME_PAGE') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER_HOME_PAGE') }}
{% endif %}
{%- endmacro %}

{% block custom_style %}
<style>
	.dropdown-menu::-webkit-scrollbar {
		display: none;
	}
</style>
{% endblock %}

<div class="row">
	<div class="col" id="location">
		<span>
			<h2>{{ tab_title() }}</h2>
		</span>
	</div>
</div>

{% if session['user_type'] == COURSE_DESIGNER %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-toggle="modal" data-target=".add-course">
	<i class="fa fa-plus"></i>
</button>
<span>{{ get_str('ADD_NEW_COURSE') }}</span>
<br><br>
{% endif %}

<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>{{ get_str('COURSE_NAME') }}</th>
		<th>{{ get_str('COURSE_CODE') }}</th>
		<th>{{ get_str('PROGRAM') }}</th>
		<th>{{ get_str('COURSE_TYPE') }}</th>
		{% if session['user_type'] == COURSE_DESIGNER %}
		<th style="min-width: 250px;">{{ get_str('ACTIONS') }}</th>
		{% endif %}
	</tr>
	{% for course in data['courses'] %}
	<tr>
		<td class="Course-name"><a href="{{ url_for('course_info.info', course_id=course.id) }}">{{ course.course_name }}</a></td>
		<td class="Course-code">{{ course.course_code }}</td>
		<td>{{ course.get_program().name }}</td>
		<td>{{ course.get_couse_type().name }}</td>
		{% if session['user_type'] == COURSE_DESIGNER %}
		<td class="Action-column">
			<div class="dropdown">
				<button class="btn btn-light dropdown-toggle" type="button" id="maangeButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-gear"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" data-toggle="modal" data-target=".edit-CILOs"
						data-category-id="id" data-category-name="name" data-category-priority="priority"
						onclick="edit_read(this)">{{ get_str('EDIT') }}</a>
					<!--<hr>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target=".Modify-Assessment-Method"
						data-category-id="category_id" data-category-name="category_name">{{
						get_str('MODIFY_ASSESSMENT_METHOD') }}</a>-->
				</div>
			</div>
			<table class="course-hide-CILOs-table" id="course-hide-CILOs-table-{{i}}" style="display: none;">
				{% for CILO in course.get_cilos() %}
				<tr class="Edit-CILOs-tbale-tr" style="text-align: center;">
					<td class="CILOs-unique-id" style="display: none;">{{ CILO.id }}</td>
					<td class="CILO-order">CILO-{{CILO.cilo_index}}</td>
					<td><input type="text" class="form-control CILOs-description" id="{{ course.id }}-CILOs-description-{{CILO.cilo_index}}" title="{{ CILO.cilo_description }}"
							oninput="descrption_update($(this))" placeholder="please input {{ get_str('DESCRIPTION') }}"
							value="{{ CILO.cilo_description }}" aria-label="" aria-describedby="basic-addon1" data-toggle="tooltip"
							style="text-align: center;"></td>
				</tr>
				{% endfor %}
			</table>
			<table class="course-hide-assessment-methods-table" id="course-hide-assessment-methods-table-{{i}}"
				style="display: none;">
				{% for Assessment in course.get_assessment_methods() %}
				<tr style="text-align: center;" class="Edit-assessment-methods-tbale-tr">
					<td><input type="text" class="form-control" placeholder="please input name" value="{{ Assessment.method_name }}" aria-label=""
							aria-describedby="basic-addon1" style="text-align: center;"></td>
					<td>
						<div class="input-group Related-CILOs-input"><input type="text"
								class="form-control Related-CILOs-input-area" placeholder="please choose CILOs" value="{% for index, cilo in enumerate(Assessment.get_cilos_addressed()) %}{{ cilo.cilo_index }}{% if index!=len(Assessment.get_cilos_addressed())-1 %},{% endif %}{% endfor %}"
								aria-label="" aria-describedby="basic-addon2" style="text-align: center;" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">
									<button class="btn btn-outline-secondary dropdown-toggle Related-cilo-dropdown-button" data-toggle="dropdown"
										aria-expanded="false" style="float:right" value="{% for index, cilo in enumerate(Assessment.get_cilos_addressed()) %}{{ cilo.cilo_index }}{% if index!=len(Assessment.get_cilos_addressed())-1 %},{% endif %}{% endfor %}"></button>
									<div class="dropdown-menu edit-Related-CILOs-dropmenu"
										aria-labelledby="dropdownMenuLink" ></div>
								</div>
							</div>
						</div>
					</td>
					<td><input type="text" class="form-control" placeholder="please input percentage" value="{{ Assessment.weight }}"
							aria-label="" aria-describedby="basic-addon1" style="text-align: center;"></td>
					<td><button type="button" class="btn btn-light" onclick="minus(this)"><i
								class="fa fa-minus"></i></button></td>
				</tr>
				{% endfor %}
			</table>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

<!-- Large modal -->
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".define-box">Large modal</button>
-->


<div class="modal fade bd-example-modal-lg add-course" tabindex="-1" role="dialog" aria-labelledby="add-course"
	aria-hidden="true" style="overflow:auto">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">{{ get_str('NEW_COURSE') }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<!-- top 7 input areas -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<h5>{{ get_str('COURSE_TITLE') }}</h5>
						<input type="text" class="form-control" id="new-course-title" name="new_couse_title"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
					<div class="col">
						<h5>{{ get_str('LECTURER') }}</h5>
						<input type="text" class="form-control" id="new-course-lecturer" name="new_course_lecturer"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%">
					<div class="col">
						<h5>{{ get_str('COURSE_CODE') }}</h5>
						<input type="text" class="form-control" id="new-course-code" name="new_course_code"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
					<div class="col">
						<h5>{{ get_str('COURSE_TYPE') }}</h5>
						<div class="input-group">
							<input type="text" class="form-control" id="new-course-type"
								name="new_course_program_degree" placeholder="" aria-label=""
								aria-describedby="basic-addon1" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">
									<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false" style="float:right">
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"style="overflow-y:scroll;scrollbar-width:none;">

										{% for index, course_type in enumerate(data['course_types']) %}
										<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
											data-category-id="id" data-category-name="name"
											data-category-priority="priority" onclick="course_type_select(this)">{{ course_type.name }}</a>
										{% if index!=len(data['course_types'])-1 %}
										<hr>
										{% endif %}

										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%">
					<div class="col-3">
						<h5>{{ get_str('YEAR') }}</h5>
						<input type="text" class="form-control" id="new-course-year" name="new_course_year"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
					<div class="col-3">
						<h5>{{ get_str('TERM') }}</h5>
						<div class="input-group">
							<input type="text" class="form-control" id="new-course-term" name="new_course_term"
								placeholder="" aria-label="" aria-describedby="basic-addon1" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">

									<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false" style="float:right">

									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
											data-category-id="id" data-category-name="name"
											data-category-priority="priority" onclick="term_select(this)">1</a>
										<hr>
										<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
											data-category-id="category_id" data-category-name="category_name"
											onclick="term_select(this)">2</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<h5>{{ get_str('PROGRAM') }}</h5>
						<div class="input-group">
							<input type="text" class="form-control" id="new-course-program"
								name="new_course_program_degree" placeholder="" aria-label=""
								aria-describedby="basic-addon1" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">

									<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false" style="float:right">

									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
										style="overflow-y:scroll;height:400px;scrollbar-width:none;">
										{% for index, program in enumerate(data['programs']) %}
										<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
											data-category-id="id" data-category-name="name"
											data-category-priority="priority" onclick="program_select(this)">{{
											program.name }}</a>
										{% if index!=len(data['programs'])-1 %}
										<hr>
										{% endif %}

										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- top 7 input areas end -->


				<!-- Pre-requisites -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<h5>{{ get_str('PRE-REQUISITES') }}</h5>
						<table class="table table-bordered table-striped " id="Pre-requisites-table">

							<tr style="text-align: center;">
								<th>
									<h5>{{ get_str('COURSE_NAME') }}</h5>
								</th>
							</tr>
						</table>
					</div>
				</div>

				<!-- CILOs -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<h5>{{ get_str('CILOS') }}</h5>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-success" id="CILOs-import" data-toggle="modal"
									data-target=".upload-file">{{ get_str('IMPORT') }}</button>
								<button type="button" class="btn btn-light" id="CILOs-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>

						</div>
						<table class="table table-bordered table-striped " id="CILOs-table" style="margin-top: 5px;">

							<tr class="new-CILOs-tbale-tr" style="text-align: center;">
								<th>
									<h5>{{ get_str('CILO') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('DESCRIPTION') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('DEPENDENCIES') }}</h5>
								</th>
								<th></th>
							</tr>
						</table>
					</div>
				</div>

				<!-- Assessment methods -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<h5>{{ get_str('ASSESSMENT_METHODS') }}</h5>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-success" data-toggle="modal"
									data-target=".upload-file">{{ get_str('IMPORT') }}</button>
								<button type="button" class="btn btn-light" id="new-Assessment-methods-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>

						</div>
						<table class="table table-bordered table-striped " id="Assessment-methods-table"
							style="margin-top: 5px;">

							<tr style="text-align: center;">
								<th>
									<h5>{{ get_str('ASSESSMENT') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('RELATED_CILOS') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('PRECENTAGE') }}</h5>
								</th>
								<th></th>
							</tr>
						</table>
					</div>
				</div>

				<!-- button area -->
				<div class="row" style="margin: 2.5%;">
					<div class="col" style="text-align: right;">
						<button type="button" class="btn btn-warning" data-dismiss="modal">
							{{ get_str('CANCEL') }}
						</button>
						<button type="button" class="btn btn-primary" style="margin-left: 5px;">
							{{ get_str('CONFIRM') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- define-box -->
<div class="modal fade bd-example-modal-lg define-box" tabindex="-1" role="dialog" aria-labelledby="define-box"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">{{ get_str('CILO_DEPENDENCIES') }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="input-group ">
						<div class="input-group-prepend">
							<div class="dropdown" style="display: inline; ">

								<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false" style="float:right">
									{{ get_str('TYPE') }}
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal"
										data-target="#editModal" data-category-id="id" data-category-name="name"
										data-category-priority="priority">{{ get_str('COURSES') }}</a>
									<hr>
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"
										data-category-id="category_id" data-category-name="category_name">{{
										get_str('CILOS') }}</a>
								</div>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="Search" value="" aria-label=""
							aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>



				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col" style="text-align: center;">
								<h5>{{ get_str('SEARCH_RESULTS') }}</h5>
							</div>
						</div>
						<table class="table table-bordered table-striped define-box-result-table"
							style="margin-top: 5px;">
							<tr style="text-align: center;">
								<th>
									CILOs unique ID
								</th>
								<th>
									<h5>{{ get_str('COURSE') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('CILO') }}</h5>
								</th>
								<th style="width: 30px;">
									<h5>{{ get_str('ACTION') }}</h5>
								</th>
							</tr>
							{% for i in ["1","2","3"] %}
							<tr class="CLIOs-define-tr" style="text-align: center;">
								<td class="CILO-ID-td">{{ i }}</td>
								<td class="course-name-td">{{'Course '+i}}</td>
								<td class="CILO-description-td">{{'CILO '+i}}</td>
								<td class="CILOs-button-td"><button type="button" class="btn btn-light"
										onclick="CILOs_define_page_add(this)">
										<i class="fa fa-plus"></i>
									</button></td>
							</tr>
							<tr class="CLIOs-define-tr" style="text-align: center;">
								<td class="CILO-ID-td">{{ i }}</td>
								<td class="course-name-td">{{'Course '+i}}</td>
								<td class="CILO-description-td">{{'CILO '+i}}</td>
								<td class="CILOs-button-td"><button type="button" class="btn btn-light"
										onclick="CILOs_define_page_add(this)">
										<i class="fa fa-plus"></i>
									</button></td>
							</tr>
							{% endfor %}

						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col" style="text-align: center;">
								<h5>{{ get_str('ADDED_CILOS') }}</h5>
							</div>
						</div>
						<table class="table table-bordered table-striped define-box-added-table"
							style="margin-top: 5px;">

							<tr style="text-align: center;">
								<th>
									CILOs unique ID
								</th>
								<th>
									<h5>{{ get_str('COURSE') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('CILO') }}</h5>
								</th>
								<th style="width: 30px;">
									<h5>{{ get_str('ACTION') }}</h5>
								</th>
							</tr>
							{% for i in ["1","2","3"] %}
							<tr class="CLIOs-define-tr" style="text-align: center;">
								<td class="CILO-ID-td">{{ i }}</td>
								<td class="course-name-td">{{'Course '+i}}</td>
								<td class="CILO-description-td">{{'CILO '+i}}</td>
								<td class="CILOs-button-td"><button type="button" class="btn btn-light"
										onclick="CILOs_define_page_minus()">
										<i class="fa fa-minus"></i>
									</button></td>
							</tr>
							{% endfor %}

						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;">
					<div class="col" style="text-align: right;">
						<button type="button" class="btn btn-warning" data-dismiss="modal">
							{{ get_str('CANCEL') }}
						</button>
						<button type="button" class="btn btn-primary" style="margin-left: 5px;" onclick="write_CILOs()"
							data-dismiss="modal">
							{{ get_str('CONFIRM') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <button class="btn btn-success" onclick="test()"></button> -->

{% endblock %}


{% block script %}
<script>
	//fix the problem of modal
	$('.define-box').on('hidden.bs.modal', function (event) {
		$("body").addClass("modal-open");
	})
	$('.upload-file').on('hidden.bs.modal', function (event) {
		$("body").addClass("modal-open");
	})

	//CILOs add function
	$(document).ready(function () {
		$("#CILOs-add").click(function () {
			var index = $("#CILOs-table .new-CILOs-tbale-tr").length;
			var CILOsAdditon = //style="display:none"
				'<tr class="new-CILOs-tbale-tr" style="text-align: center;">\
				<td class="CILO-order">CILO-' + index + '</td>\
				<td><input type="text" class="form-control CILOs-description" id="CILOs-description-' + index + '" title=""\
						oninput="descrption_update($(this))" placeholder="please input {{ get_str("DESCRIPTION") }}" value=""\
						aria-label="" aria-describedby="basic-addon1" data-toggle="tooltip" style="text-align: center;"></td>\
				<td><button type="button" class="btn btn-info" id="CILOs-define" data-toggle="modal" data-target=".define-box" onclick="read_CILOs(this)"> {{get_str("DEFINE") }}</button>\
					<table class="CILOs-hide-table" id="CILOs-hide-table-'+ index + '" style="display:none">\
						<tr style="text-align: center;">\
								<th>\
									CILOs unique ID\
								</th>\
								<th>\
									<h5>{{ get_str("COURSE") }}</h5>\
								</th>\
								<th>\
									<h5>{{ get_str("CILO") }}</h5>\
								</th>\
								<th style="width: 30px;">\
									<h5>{{ get_str("ACTION") }}</h5>\
								</th>\
							</tr>\
						</table>\
				</td>\
				<td><button type="button" class="btn btn-light CILOs-minus" onclick="CILOs_remove(this)"><i class="fa fa-minus"></i></button></td>\
			</tr>';
			$("#CILOs-table").append(CILOsAdditon);
			get_line_nums();
		});
	});

	//cilos define read function
	function read_CILOs(obj) {
		var e = obj
		var id_text = $(e).parent().find(".CILOs-hide-table").attr("id");
		var table_concent = $(e).parent().find(".CILOs-hide-table").html();
		$(".define-box-added-table").children().remove();
		$(".define-box-added-table").attr("value", id_text);
		$(".define-box-added-table").append(table_concent);
		console.log($(".define-box-added-table").attr("value"))
	}

	function write_CILOs() {
		var id = "#" + $(".define-box-added-table").attr("value");
		var update_content = $(".define-box-added-table").html();
		$(id).children().remove();
		$(id).append(update_content);
		update_Pre_requisites();
	}

	var same_CILO_flag = false;
	function CILOs_define_page_add(obj) {
		var e = obj;
		var e2 = $(e).parents(".CLIOs-define-tr")
		same_CILO_flag = false;
		$(".define-box-added-table").find(".CILO-ID-td").each(function () {
			if ($(this).text() === $(e2).find(".CILO-ID-td").text()) {
				alert("This CILO is already added!");
				$(e2).remove();
				same_CILO_flag = true;
			}
		})
		if (same_CILO_flag) { return }
		var minus = '<button type="button" class="btn btn-light" onclick="CILOs_define_page_minus(this)">\
										<i class="fa fa-minus"></i>\
									</button>'
		$(e).parents(".CILOs-button-td").html(minus);
		var content = $(e2).html()
		var content_text = '<tr class="CLIOs-define-tr" style="text-align: center;">' + content + '</tr>'
		$(".define-box-added-table").append(content_text);
		$(e2).remove();
	}

	function CILOs_define_page_minus(obj) {
		var e = obj;
		var e2 = $(e).parents(".CLIOs-define-tr")
		var plus = '<button type="button" class="btn btn-light" onclick="CILOs_define_page_add(this)">\
										<i class="fa fa-plus"></i>\
									</button>'
		$(e).parents(".CILOs-button-td").html(plus);
		var content = $(e2).html()
		var content_text = '<tr class="CLIOs-define-tr" style="text-align: center;">' + content + '</tr>'
		$(".define-box-result-table").append(content_text);
		$(e2).remove();
	}

	var Pre_requisites_list
	function update_Pre_requisites() {
		Pre_requisites_list = new Array();
		$("#CILOs-table").find(".course-name-td").each(function () {

			Pre_requisites_list.push($(this).text())
		})
		var temp_array = new Array();
		for (var i = 0; i < Pre_requisites_list.length; i++) {
			var flag = true;
			for (var j = 0; j < temp_array.length; j++) {
				if (temp_array[j] === Pre_requisites_list[i]) {
					flag = false;
					break;
				}
			}
			if (flag) {
				temp_array.push(Pre_requisites_list[i]);
			}
		}
		$("#Pre-requisites-table").find(".Pre-requisites-tr").remove();
		for (var i = 0; i < temp_array.length; i++) {
			$("#Pre-requisites-table").append('<tr class="Pre-requisites-tr" style="text-align: center;"><td>' + temp_array[i] + "</tr></td>")
		}
	}



	function minus(obj) {
		var e = obj;
		$(e).parent().parent().remove();
	}

	function term_select(obj) {
		var e = obj;
		$("#new-course-term").attr("value", $(e).text());
	}

	function edit_term_select(obj) {
		var e = obj;
		$("#edit-effective-course-term").attr("value", $(e).text());
	}

	function program_select(obj) {
		var e = obj;
		var text = $(e).text();
		$("#new-course-program").attr("value", text);
	}
	function course_type_select(obj) {
		var e = obj;
		var text = $(e).text();
		$("#new-course-type").attr("value", text);
	}


	function get_line_nums() {
		var num = $("#CILOs-table .new-CILOs-tbale-tr").length;
		var text1 =
			'<div class="input-group mb-3">\
			<div class="input-group-prepend">\
				<div class="input-group-text"><input type="checkbox" class="Related_CILOs_CheckBox" aria-label="Checkbox for following text input" value="'
		var text2 = '" onchange="set_new_course_Related_CILOs_value(this)" >\
				</div>\
			</div><input type="text" class="form-control related-CILOs-dropbox-value" placeholder="" aria-label="Text input with checkbox" value="'
		var text3 = '" disabled></div>'
		$(".Related-CILOs-dropmenu").children().remove();
		for (var i = 1; i < num; i++) {
			$(".Related-CILOs-dropmenu").append(text1 + i + text2 + i + text3)
		}
	}

	function edit_get_line_nums() {
		var num = $("#edit-CILOs-table .Edit-CILOs-tbale-tr").length;
		var text1 =
			'<div class="input-group mb-3">\
			<div class="input-group-prepend">\
				<div class="input-group-text"><input type="checkbox" class="Related_CILOs_CheckBox" aria-label="Checkbox for following text input" value="'
		var text2 = '" onchange="edit_set_new_course_Related_CILOs_value(this)" >\
				</div>\
			</div><input type="text" class="form-control related-CILOs-dropbox-value" placeholder="" aria-label="Text input with checkbox" value="'
		var text3 = '" disabled></div>'
		$(".edit-Related-CILOs-dropmenu").children().remove();
		for (var i = 1; i <= num; i++) {
			$(".edit-Related-CILOs-dropmenu").append(text1 + i + text2 + i + text3)
		}
	}

	function CILOs_remove(obj) {
		minus(obj);
		update_CILOs_table();
		get_line_nums();
	}

	//add Assessment methods function
	$(document).ready(function () {
		$("#new-Assessment-methods-add").click(function () {
			var append_text =
				'<tr style="text-align: center;">\
			<td><input type="text" class="form-control" placeholder="please input name" value="" aria-label=""\
					aria-describedby="basic-addon1" style="text-align: center;"></td>\
			<td>\
				<div class="input-group Related-CILOs-input"><input type="text" class="form-control Related-CILOs-input-area" placeholder="please choose CILOs" value=""\
						aria-label="" aria-describedby="basic-addon2" style="text-align: center;" disabled>\
					<div class="input-group-append">\
						<div class="dropdown" style="display: inline; ">\
							<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"\
								aria-expanded="false" style="float:right"></button>\
							<div class="dropdown-menu Related-CILOs-dropmenu" aria-labelledby="dropdownMenuLink"></div>\
						</div>\
					</div>\
				</div>\
			</td>\
			<td><input type="text" class="form-control" placeholder="please input percentage" value="" aria-label=""\
					aria-describedby="basic-addon1" style="text-align: center;"></td>\
			<td><button type="button" class="btn btn-light" onclick="minus(this)"><i class="fa fa-minus"></i></button></td>\
			</tr>';
			$("#Assessment-methods-table").append(append_text);
			get_line_nums();
		});
	});

	$(document).ready(function () {
		$("#Assessment-methods-add").click(function () {
			var append_text =
				'<tr style="text-align: center;">\
								<td><input type="text" class="form-control" placeholder="please input name" value="" aria-label=""\
										aria-describedby="basic-addon1" style="text-align: center;"></td>\
								<td>\
									<div class="input-group Related-CILOs-input"><input type="text" class="form-control Related-CILOs-input-area"\
											placeholder="please choose CILOs" value="" aria-label="" aria-describedby="basic-addon2"\
											style="text-align: center;" disabled>\
										<div class="input-group-append">\
											<div class="dropdown" style="display: inline; ">\
												<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"\
													aria-expanded="false" style="float:right"></button>\
												<div class="dropdown-menu edit-Related-CILOs-dropmenu" aria-labelledby="dropdownMenuLink"></div>\
											</div>\
										</div>\
									</div>\
								</td>\
								<td><input type="text" class="form-control" placeholder="please input percentage" value="" aria-label=""\
										aria-describedby="basic-addon1" style="text-align: center;"></td>\
								<td><button type="button" class="btn btn-light" onclick="minus(this)"><i class="fa fa-minus"></i></button></td>\
							</tr>';
			$("#edit-Assessment-methods-table").append(append_text);
			edit_get_line_nums();
		});
	});

	//mouse hold message show: title
	$(function () {
		$('.CILOs-description').tooltip();
	});

	function descrption_update(obj) {
		var e = obj;
		$(e).attr("title", document.getElementById($(e).attr('id')).value)
	}


	//update CILOs table
	//let CILOsIndex = 1
	function update_CILOs_table() {
		let CILOsIndex = 1
		//console.log($("#CILOs-table").children("td.CILO-order").index);
		$("#CILOs-table").find("td.CILO-order").html(() => {
			var text = "CILO-" + CILOsIndex
			CILOsIndex++
			//console.log(text+",,"+CILOsIndex)
			return text
		})
		CILOsIndex = 1
		$("#CILOs-table").find("input.CILOs-description").attr("id", () => {
			var text = "CILOs-description-" + CILOsIndex
			CILOsIndex++
			//console.log(text+",,"+CILOsIndex)
			return text
		})
		//console.log(1);
	}

	//function(){ return $(this).parents(".input-group").find(".related-CILOs-dropbox-value").attr("value")}
	var related_CILOs_text = ""
	function set_new_course_Related_CILOs_value(obj) {
		var e = obj
		related_CILOs_text = ""
		//$(e).parents(".Related-CILOs-dropmenu").css({"color":"red","border":"2px solid red"})
		//text += $("#Assessment-methods-table").find(".Related_CILOs_CheckBox",":checked").length
		$(e).parents(".Related-CILOs-dropmenu").find(":checked").each(function () {
			//related_CILOs_text += $(this).parents(".input-group").find(".related-CILOs-dropbox-value").css({"color":"red","border":"2px solid red"})
			if (related_CILOs_text === "") {
				related_CILOs_text += + $(this).val()
			} else {
				related_CILOs_text += "," + $(this).val()
			}
			//console.log($(this).val());
		})
		//console.log(related_CILOs_text);
		$(e).parents(".Related-CILOs-input").find(".Related-CILOs-input-area").attr("value", related_CILOs_text)

	}

	var edit_related_CILOs_text = ""
	function edit_set_new_course_Related_CILOs_value(obj) {
		var e = obj
		edit_related_CILOs_text = ""
		//$(e).parents(".Related-CILOs-dropmenu").css({"color":"red","border":"2px solid red"})
		//text += $("#Assessment-methods-table").find(".Related_CILOs_CheckBox",":checked").length
		$(e).parents(".edit-Related-CILOs-dropmenu").find(":checked").each(function () {
			//edit_related_CILOs_text += $(this).parents(".input-group").find(".related-CILOs-dropbox-value").css({"color":"red","border":"2px solid red"})
			if (edit_related_CILOs_text === "") {
				edit_related_CILOs_text += + $(this).val()
			} else {
				edit_related_CILOs_text += "," + $(this).val()
			}
			//console.log($(this).val());
		})
		//console.log(edit_related_CILOs_text);
		$(e).parents(".Related-CILOs-input").find(".Related-CILOs-input-area").attr("value", edit_related_CILOs_text)

	}

	var edit_cilo_index = 0;
	var Related_cilos
	function edit_read(obj) {
		edit_cilo_index = 0;
		var e = $(obj).parents(".Action-column")
		$("#edit-Course-name").text(e.siblings(".Course-name").text())
		$("#edit-Course-code").text(e.siblings(".Course-code").text())
		$("#edit-CILOs-table").find(".Edit-CILOs-tbale-tr").remove()
		$("#edit-CILOs-table").append(e.find(".course-hide-CILOs-table").html())
		$("#edit-CILOs-table").attr("value", e.find(".course-hide-CILOs-table").attr("id"))
		$("#edit-CILOs-table").find(".CILOs-description").each(function () {
			$(this).attr("id","edit-cilo-index-"+edit_cilo_index)
			edit_cilo_index++
		})
		$("#edit-CILOs-table").find(".CILOs-description").each(function () {
			descrption_update($(this))
		})
		$("#edit-Assessment-methods-table").find(".Edit-assessment-methods-tbale-tr").remove()
		$("#edit-Assessment-methods-table").append(e.find(".course-hide-assessment-methods-table").html())
		$("#edit-Assessment-methods-table").attr("value", e.find(".course-hide-assessment-methods-table").attr("id"))
		edit_get_line_nums()
		$("#edit-Assessment-methods-table").find(".Related-CILOs-input").each(function () {
			Related_cilos = $(this).find(".Related-cilo-dropdown-button").val().split(",")
			$(this).find(".Related_CILOs_CheckBox").each(function () {
				for(var i=0;i<Related_cilos.length;i++){
					if($(this).val()==Related_cilos[i]){
						$(this).attr("checked","checked")
						break;
					}
				}
			})
		})
	}
	//this function useless
	function edit_write() {

	}

	function test() {
		var e = $(document).find("#edit-Course-name").attr("value");
		console.log(e);
		console.log(e[1])		
	}
	/**
	 * (done)hide table for CILO define
	 * (done)!!!be careful about that we should record the CILOs ID (which is from the server database)
	 * (done)carefual about selecting the same CILO in the search result
	 * (done)please connect Pre-requisites and CILO Dependencies
	 * (done)Related CILOs get value
	 * (done)Edit page, also hide table
	 * (done)main page each course should also has hide table
	 * slider user can choose 5,10,15 lines to show and buttons to next or pervious pages
	 * (done)course code, program, category
	 * ajax for added and edit
	*/

</script>

{% endblock %}