{% extends "base.html" %}

{% macro test() -%}
=======================
{%- endmacro %}

{% block content %}
<!-- edit-CILOs and Modify-Assessment-Method -->
<div class="modal fade bd-example-modal-lg edit-CILOs" tabindex="-1" role="dialog" aria-labelledby="edit-CILOs"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">{{ get_str('EDIT') }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<h4>{{ get_str('COURSE_TITLE') }} : &nbsp;</h4>
					<h4 id="edit-Course-name">Course 1</h4>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<h4>{{ get_str('COURSE_CODE') }} : &nbsp;</h4>
					<h4 id="edit-Course-code">COMP3043</h4>
				</div>
				<hr>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<h4>{{ get_str('CILOS') }}</h4>
							</div>
						</div>
						<table class="table table-bordered table-striped " id="edit-CILOs-table"
							style="margin-top: 5px;">
							<tr style="text-align: center; width: auto;">
								<th>
									<h5>{{ get_str('CILO') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('DESCRIPTION') }}</h5>
								</th>
							</tr>
						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<h4>{{ get_str('ASSESSMENT_METHODS') }}</h4>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-light" id="Assessment-methods-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<table class="table table-bordered table-striped " id="edit-Assessment-methods-table"
							style="margin-top: 5px;">

							<tr style="text-align: center;">
								<th>
									<h5>{{ get_str('NAME') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('RELATED_CILOS') }}</h5>
								</th>
								<th>
									<h5>{{ get_str('PRECENTAGE') }}</h5>
								</th>
								<th></th>
							</tr>
						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 5%">
					<div class="col">
						<div class="row">
							<div class="col">
								<h4>{{ get_str('EFFECTIVE_SINCE') }}</h4>
							</div>
						</div>
						<div class="row" style="margin-top:2%">
							<div class="col">
								<h5>{{ get_str('YEAR') }}</h5>
								<input type="text" class="form-control" id="effective-course-year"
									name="effective_course_year" placeholder="" aria-label=""
									aria-describedby="basic-addon1">
							</div>
							<div class="col">
								<h5>{{ get_str('TERM') }}</h5>
								<div class="input-group">
									<input type="text" class="form-control" id="edit-effective-course-term"
										name="effective_course_term" placeholder="" aria-label=""
										aria-describedby="basic-addon1" disabled>
									<div class="input-group-append">
										<div class="dropdown" style="display: inline; ">

											<button class="btn btn-outline-secondary dropdown-toggle"
												data-toggle="dropdown" aria-expanded="false" style="float:right">

											</button>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
												<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
													data-category-id="id" data-category-name="name"
													data-category-priority="priority"
													onclick="edit_term_select(this)">1</a>
												<hr>
												<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
													data-category-id="category_id" data-category-name="category_name"
													onclick="edit_term_select(this)">2</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;">
					<div class="col" style="text-align: right;">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target=".upload-file">
							{{ get_str('IMPORT') }}
						</button>
						<button type="button" class="btn btn-warning" data-dismiss="modal" style="margin-left: 5px;">
							{{ get_str('CANCEL') }}
						</button>
						<button type="button" class="btn btn-primary" style="margin-left: 5px;">
							{{ get_str('CONFIRM') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- upload -->
<div class="modal fade upload-file" tabindex="-1" role="dialog" aria-labelledby="upload-file" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newproductModalLabel">{{ get_str('UPLOAD') }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="img-update-form" action="" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="csrf_token" value="" />
					<input type="hidden" name="update_type" id="update-type" />
					<input type="hidden" name="product_id" id="product-id" />
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile" name="file" accept="image/*">
						<label class="custom-file-label" for="customFile">{{ get_str('CHOOSE_FILE') }}</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">{{ get_str('CANCEL') }}</button>
				<button type="submit" class="btn btn-primary" form="img-update-form">{{ get_str('UPLOAD') }}</button>
			</div>
		</div>
	</div>
</div>
{% block inner_content %}
{% endblock %}
{% endblock %}