{% extends "base.html" %}
{% macro tag_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER') }}
{% endif %}
{%- endmacro %}
{% block title %} {{ tag_title() }} {% endblock%}

{% block content %}
<div class="container text-left" style="vertical-align: middle">
  <br>
  <h1 class="h3 mb-3 font-weight-normal">{{ get_str('COURSES_INFO') }}</h1>
  <br>
  <!--course info-->
  <div class="row text-center" style="margin-top: 2%; margin-left: 5%; margin-right: 10%">
    <h5 class="col">{{ get_str('BASICINFO') }}</h5>
  </div>
  <br>
  <div class="row align-items-start" style="margin-bottom: 1%; margin-left: 5%">
    <div class="col-4">{{ get_str('COURSE_TITLE') }}: </div>
    <div class="col-4">{{ get_str('COURSE_CODE') }}: </div>
    <div class="w-100"></div>
    <div class="col-4">{{ get_str('COURSE_TYPE') }}: </div>
    <div class="col-4">{{ get_str('LECTURER') }}: </div>
    <div class="w-100"></div>
    <div class="col">{{ get_str('PRECOURSES') }}: </div>
  </div>
  <div class="row align-items-center" style="margin-top: 2%; margin-left: 4%; margin-right: 7%">
    <div class="col-sm-12">
      <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th colspan=3>{{ get_str('CILOS') }}</th>
          </tr>
          <tr>
            <th>{{ get_str('NAME') }}</th>
            <th>{{ get_str('DESCRIPTION') }}</th>
            <th>{{ get_str('DEPENDENCIES') }}</th>
          </tr>
        </thead>
        {% for i in range (0,3) %}
        <tr>
          <td>CILO {{ i+1 }}</td>
          <td>CILO {{ get_str('DESCRIPTION') }} {{ i+1 }}</td>
          <td>{{ get_str('DEPENDENCIES') }} {{ i+1 }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
  {% if session['user_type'] != STUDENT %}
  <!--Analysis Results-->
  <br>
  <div class="row no-gutters" style="margin-left: 5%">
      <div class="col-sm-9" style="margin-left: 5%">
      <h5 class="text-center">{{ get_str('ANALYSIS') }}</h5>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-light btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ get_str('YEAR') }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for i in range (16,20) %}
          <a class="dropdown-item" href="#">20{{ i }} - 20{{ i+1 }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-11">
      <br>
      <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th>{{ get_str('NAME') }}</th>
            <th>{{ get_str('RELATED_CILOS') }}</th>
            <th>{{ get_str('PERCENTAGE') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range (0,3) %}
          <tr>
            <td>Assignment</td>
            <td>CILO 1, 4</td>
            <td>25%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}


  {% endblock %}