{% extends "base.html" %}
{% macro tag_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER') }}
{% endif %}
{%- endmacro %}
{% block title %} {{ tag_title() }} {% endblock%}

{% block content %}

{% macro tab_title() -%}
{{ get_str('COURSES_INFO') }}
{%- endmacro %}

<div class="row">
	<div class="col" id="location">
		<span>
			<p>{{ tab_title() }}</p>
		</span>
	</div>
</div>
  <!--course info-->
  <div class="row text-center" style="margin-top: 2%; margin-left: 5%; margin-right: 10%">
    <h5 class="col">{{ get_str('BASICINFO') }}</h5>
  </div>
  <br>
  <div class="row align-items-start" style="margin-bottom: 1%; margin-left: 5%">
    <div class="col-6"><p>{{ get_str('COURSE_TITLE') }}: {{ data['course'].course_name }}</p></div>
    <div class="col-6"><p>{{ get_str('COURSE_CODE') }}: {{ data['course'].course_code }}</p></div>
    <div class="w-100"></div>
    <div class="col-6"><p>{{ get_str('COURSE_TYPE') }}: {{ data['course'].get_couse_type().name }}</p></div>
    <div class="col-6"><p>{{ get_str('PROGRAM') }}: {{ data['course'].get_program().name }}</p></div>
    <div class="w-100"></div>
    <div class="col-12">
      <p>{{ get_str('PRECOURSES') }}: 
        {% set courses = data['course'].get_course_prerequisites() %}
        {% if len(courses) == 0 %}
          None
        {% else %}
          {% for idx, course in enumerate(courses) %}{% if idx != 0 %}, {% endif %}{{ course.course_name }}{% endfor %}</p>
        {% endif %}
    </div>
    <div class="col-12">
      <p>{{ get_str('POSTCOURSES') }}: 
        {% set courses = data['course'].get_dependent_courses() %}
        {% if len(courses) == 0 %}
          None</p>
        {% else %}
          <ul>
          {% for course in courses %}
            <li>{{ course.course_name }}</li>
          {% endfor %}</ul>
        {% endif %}
    </div>  
  </div>
  <div class="row align-items-center" style="margin-top: 2%; margin-left: 4%; margin-right: 7%">
    <div class="col-sm-12">
      <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th colspan=2>{{ get_str('CILOS') }}</th>
          </tr>
          <tr>
            <th>{{ get_str('NAME') }}</th>
            <th>{{ get_str('DESCRIPTION') }}</th>
          </tr>
        </thead>
        {% for cilo in data['course'].get_cilos() %}
        <tr>
          <td>CILO {{ cilo.cilo_index }}</td>
          <td>{{ cilo.cilo_description }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="row align-items-center" style="margin-top: 2%; margin-left: 4%; margin-right: 7%">
    <div class="col-sm-12">
      <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th colspan=3>{{ get_str('ASSESSMENT_METHODS') }}</th>
          </tr>
          <tr>
            <th>{{ get_str('NAME') }}</th>
            <th>{{ get_str('WEIGHTING') }}</th>
            <th>{{ get_str('CILOS_ADDRESSED') }}</th>
          </tr>
        </thead>
        {% for assessment_method in data['course'].get_assessment_methods() %}
        <tr>
          <td>{{ assessment_method.method_name }}</td>
          <td>{{ assessment_method.weight }}%</td>
          <td>
            {% for idx, cilo in enumerate(assessment_method.get_cilos_addressed()) %}{% if idx >= 1 %}, {% endif %}{{ cilo.cilo_index }}{% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% if session['user_type'] != STUDENT %}
  <!--Analysis Results-->
  <br>
  <div class="row no-gutters" style="margin-left: 5%">
      <div class="col-sm-9" style="margin-left: 5%">
      <h5 class="text-center">{{ get_str('ANALYSIS') }}</h5>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-light btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ str(str(data['analysis']['year_selected']) + "-" + str(data['analysis']['year_selected']+1)) if data['analysis']['year_selected'] > 0 else get_str('NO_REPORT') }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for year in data['analysis']['years'] %}
            <a class="dropdown-item" href="{{ url_for('course_info.info', course_id=data['course'].id) }}?year={{year}}">
              {{ year }}-{{ year+1 }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-11">
      <br>
      <table class="table table-bordered table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th>{{ get_str('NAME') }}</th>
            <th>{{ get_str('CILO_DESCRIPTION') }}</th>
            <th>{{ get_str('PERCENTAGE') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for idx, cilo in enumerate(data['analysis']['cilos']) %}
          <tr>
            <td>CILO {{ cilo.cilo_index }}</td>
            <td>{{ cilo.cilo_description }}</td>
            <td>{{ "{:5.2f}".format(data['analysis']['scores'][idx] * 100) }}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}


  {% endblock %}