{% extends "courses_base.html" %}
{% macro tag_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER') }}
{% endif %}
{%- endmacro %}
{% block title %} {{ tag_title() }} {% endblock%}


{% block inner_content %}

{% macro tab_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT_HOME_PAGE') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER_HOME_PAGE') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER_HOME_PAGE') }}
{% endif %}
{%- endmacro %}

{% block custom_style %}
<style>
	.dropdown-menu::-webkit-scrollbar {
		display: none;
	}
</style>
{% endblock %}

<div class="row">
	<div class="col" id="location">
		<span>
			<p style="font-weight:bold">{{ get_str('COURSES') }}</p>
		</span>
	</div>
</div>

{% if session['user_type'] == COURSE_DESIGNER %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-toggle="modal" data-target=".add-course">
	<i class="fa fa-plus"></i>
</button>
<span>{{ get_str('ADD_NEW_COURSE') }}</span>
<br><br>
{% endif %}

<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>{{ get_str('COURSE_NAME') }}</th>
		<th>{{ get_str('COURSE_CODE') }}</th>
		<th>{{ get_str('PROGRAM') }}</th>
		<th>{{ get_str('COURSE_TYPE') }}</th>
		{% if session['user_type'] == COURSE_DESIGNER %}
		<th>{{ get_str('ACTIONS') }}</th>
		{% endif %}
	</tr>
	{% for course in data['courses'] %}
	<tr>
		<td class="Course-name" value="{{ course.id }}"><a
				href="{{ url_for('course_info.info', course_id=course.id) }}">{{ course.course_name
				}}</a></td>
		<td class="Course-code">{{ course.course_code }}</td>
		<td>{{ course.get_program().name }}</td>
		<td>{{ course.get_couse_type().name }}</td>
		{% if session['user_type'] == COURSE_DESIGNER %}
		<td class="Action-column">
			<div class="dropdown">
				<button class="btn btn-light dropdown-toggle" type="button" id="maangeButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-gear"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" data-toggle="modal" data-target=".edit-CILOs"
						data-category-id="id" data-category-name="name" data-category-priority="priority"
						onclick="edit_read(this)">{{ get_str('EDIT') }}</a>
					<!--<hr>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target=".Modify-Assessment-Method"
						data-category-id="category_id" data-category-name="category_name">{{
						get_str('MODIFY_ASSESSMENT_METHOD') }}</a>-->
				</div>
			</div>
			<table class="course-hide-CILOs-table" id="course-hide-CILOs-table-{{i}}" style="display: none;">
				{% for CILO in course.get_cilos() %}
				<tr class="Edit-CILOs-tbale-tr" style="text-align: center;">
					<td class="CILOs-unique-id" style="display: none;">{{ CILO.id }}</td>
					<td class="CILO-order" value="{{CILO.cilo_index}}">CILO-{{CILO.cilo_index}}</td>
					<td><input type="text" class="form-control CILOs-description"
							id="{{ course.id }}-CILOs-description-{{CILO.cilo_index}}"
							title="{{ CILO.cilo_description }}" oninput="descrption_update($(this))"
							placeholder="please input {{ get_str('DESCRIPTION') }}" value="{{ CILO.cilo_description }}"
							aria-label="" aria-describedby="basic-addon1" data-toggle="tooltip"
							style="text-align: center;"></td>
				</tr>
				{% endfor %}
			</table>
			<table class="course-hide-assessment-methods-table" id="course-hide-assessment-methods-table-{{i}}"
				style="display: none;">
				{% for Assessment in course.get_assessment_methods() %}
				<tr style="text-align: center;" class="Edit-assessment-methods-tbale-tr">
					<td><input type="text" class="form-control edit-Assessment-name" placeholder="please input name"
							value="{{ Assessment.method_name }}" aria-label="" aria-describedby="basic-addon1"
							style="text-align: center;"></td>
					<td>
						<div class="input-group Related-CILOs-input"><input type="text"
								class="form-control Related-CILOs-input-area" placeholder="please choose CILOs"
								value="{% for index, cilo in enumerate(Assessment.get_cilos_addressed()) %}{{ cilo.cilo_index }}{% if index!=len(Assessment.get_cilos_addressed())-1 %},{% endif %}{% endfor %}"
								aria-label="" aria-describedby="basic-addon2" style="text-align: center;" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">
									<button
										class="btn btn-outline-secondary dropdown-toggle Related-cilo-dropdown-button"
										data-toggle="dropdown" aria-expanded="false" style="float:right"
										value="{% for index, cilo in enumerate(Assessment.get_cilos_addressed()) %}{{ cilo.cilo_index }}{% if index!=len(Assessment.get_cilos_addressed())-1 %},{% endif %}{% endfor %}"></button>
									<div class="dropdown-menu edit-Related-CILOs-dropmenu"
										aria-labelledby="dropdownMenuLink"></div>
								</div>
							</div>
						</div>
					</td>
					<td><input type="text" class="form-control percentage-input" placeholder="please input percentage"
							value="{{ Assessment.weight }}" aria-label="" aria-describedby="basic-addon1"
							style="text-align: center;"></td>
					<td><button type="button" class="btn btn-light" onclick="minus(this)"><i
								class="fa fa-minus"></i></button></td>
				</tr>
				{% endfor %}
			</table>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

<!-- Large modal -->
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".define-box">Large modal</button>
-->


<div class="modal fade bd-example-modal-lg add-course" tabindex="-1" role="dialog" aria-labelledby="add-course"
	aria-hidden="true" style="overflow:auto">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="myLargeModalLabel">{{ get_str('NEW_COURSE') }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<!-- top 7 input areas -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<label>{{ get_str('COURSE_TITLE') }}</label>
						<input type="text" class="form-control" id="new-course-title" name="new_couse_title"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
					<div class="col">
						<label>{{ get_str('COURSE_TYPE') }}</label>
						<div class="input-group">
							<input type="text" class="form-control" id="new-course-type"
								name="new_course_program_degree" placeholder="" aria-label="-1"
								aria-describedby="basic-addon1" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">
									<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false" style="float:right">
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
										style="overflow-y:scroll;scrollbar-width:none;">
										{% for index, course_type in enumerate(data['course_types']) %}
										<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
											data-category-id="id" data-category-name="name"
											data-category-priority="priority" onclick="course_type_select(this)"
											value="{{ course_type.id }}">{{ course_type.name }}</a>
										{% if index!=len(data['course_types'])-1 %}
										<hr>
										{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%">
					<div class="col">
						<label>{{ get_str('COURSE_CODE') }}</label>
						<input type="text" class="form-control" id="new-course-code" name="new_course_code"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
					<div class="col-6">
						<label>{{ get_str('PROGRAM') }}</label>
						<div class="input-group">
							<input type="text" class="form-control" id="new-course-program"
								name="new_course_program_degree" placeholder="" aria-label="-1"
								aria-describedby="basic-addon1" disabled>
							<div class="input-group-append">
								<div class="dropdown" style="display: inline; ">

									<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false" style="float:right">

									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
										style="overflow-y:scroll;height:400px;scrollbar-width:none;">
										{% for index, program in enumerate(data['programs']) %}
										<a class="dropdown-item" href="#" data-toggle="modal" data-target=""
											data-category-id="id" data-category-name="name"
											data-category-priority="priority" onclick="program_select(this)"
											value="{{ program.id }}">{{
											program.name }}</a>
										{% if index!=len(data['programs'])-1 %}
										<hr>
										{% endif %}

										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%">
					<div class="col-6">
						<label>{{ get_str('YEAR') }}</label>
						<input type="text" class="form-control" id="new-course-year" name="new_course_year"
							placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>

				</div>
				<!-- top 7 input areas end -->


				<!-- Pre-requisites -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<label>{{ get_str('PRE-REQUISITES') }}</label>
						<table class="table table-bordered table-striped " id="Pre-requisites-table">

							<tr style="text-align: center;">
								<th>
									<label>{{ get_str('COURSE_NAME') }}</label>
								</th>
							</tr>
						</table>
					</div>
				</div>

				<!-- CILOs -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<label>{{ get_str('CILOS') }}</label>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-success" id="add-CILOs-import" data-toggle="modal"
									data-target=".upload-file" onclick="set_import_type(3)">{{ get_str('IMPORT')
									}}</button>
								<button type="button" class="btn btn-light" id="CILOs-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>

						</div>
						<table class="table table-bordered table-striped " id="CILOs-table" style="margin-top: 5px;">

							<tr class="new-CILOs-tbale-tr" style="text-align: center;">
								<th>
									<label>{{ get_str('CILO') }}</label>
								</th>
								<th>
									<label>{{ get_str('DESCRIPTION') }}</label>
								</th>
								<th>
									<label>{{ get_str('DEPENDENCIES') }}</label>
								</th>
								<th></th>
							</tr>
						</table>
					</div>
				</div>

				<!-- Assessment methods -->
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col">
								<label>{{ get_str('ASSESSMENT_METHODS') }}</label>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-success" id="add-assessment-import"
									data-toggle="modal" data-target=".upload-file" onclick="set_import_type(4)">{{
									get_str('IMPORT') }}</button>
								<button type="button" class="btn btn-light" id="new-Assessment-methods-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>

						</div>
						<table class="table table-bordered table-striped " id="Assessment-methods-table"
							style="margin-top: 5px;">

							<tr style="text-align: center;">
								<th>
									<label>{{ get_str('NAME') }}</label>
								</th>
								<th>
									<label>{{ get_str('RELATED_CILOS') }}</label>
								</th>
								<th>
									<label>{{ get_str('PRECENTAGE') }}</label>
								</th>
								<th></th>
							</tr>
						</table>
					</div>
				</div>

				<!-- button area -->
				<div class="row" style="margin: 2.5%;">
					<div class="col" style="text-align: right;">
						<button type="button" class="btn btn-warning" data-dismiss="modal">
							{{ get_str('CANCEL') }}
						</button>
						<button type="button" class="btn btn-primary" style="margin-left: 5px;" onclick="add_course()">
							{{ get_str('CONFIRM') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- define-box -->
<div class="modal fade bd-example-modal-lg define-box" tabindex="-1" role="dialog" aria-labelledby="define-box"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="myLargeModalLabel">{{ get_str('CILO_DEPENDENCIES') }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="input-group ">
						<div class="input-group-prepend">
							<div class="dropdown CILO-dependencies-search" style="display: inline; ">
								<button class="btn btn-outline-secondary dropdown-toggle" id="search-type-switch"
									data-toggle="dropdown" aria-expanded="false" style="float:right" value="1">
									{{ get_str('CILOS') }}
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal"
										data-target="#editModal" data-category-id="id" data-category-name="name"
										data-category-priority="priority" onclick="set_search_type(this)" value="1">{{
										get_str('CILOS') }}</a>
									<hr>
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"
										data-category-id="category_id" data-category-name="category_name"
										onclick="set_search_type(this)" value="2">{{
										get_str('COURSES') }}</a>
								</div>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="" value="" aria-label=""
							aria-describedby="basic-addon2" id="search-text">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" onclick="CILO_dependencies_search()">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>



				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col" style="text-align: center;">
								<label>{{ get_str('SEARCH_RESULTS') }}</label>
							</div>
						</div>
						<table class="table table-bordered table-striped define-box-result-table"
							style="margin-top: 5px;" id="define-box-result-table">
							<tr style="text-align: center;">
								<th style="display: none;">
									CILOs unique ID
								</th>
								<th>
									<label>{{ get_str('COURSE') }}</label>
								</th>
								<th>
									<label>{{ get_str('CILO') }}</label>
								</th>
								<th style="width: 30px;">
									<label>{{ get_str('ACTION') }}</label>
								</th>
							</tr>


						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;margin-bottom: 0%;">
					<div class="col">
						<div class="row">
							<div class="col" style="text-align: center;">
								<label>{{ get_str('ADDED_CILOS') }}</label>
							</div>
						</div>
						<table class="table table-bordered table-striped define-box-added-table"
							style="margin-top: 5px;">

							<tr style="text-align: center;">
								<th style="display: none;">
									CILOs unique ID
								</th>
								<th>
									<label>{{ get_str('COURSE') }}</label>
								</th>
								<th>
									<label>{{ get_str('CILO') }}</label>
								</th>
								<th style="width: 30px;">
									<label>{{ get_str('ACTION') }}</label>
								</th>
							</tr>


						</table>
					</div>
				</div>
				<div class="row" style="margin: 2.5%;">
					<div class="col" style="text-align: right;">
						<button type="button" class="btn btn-warning" data-dismiss="modal">
							{{ get_str('CANCEL') }}
						</button>
						<button type="button" class="btn btn-primary" style="margin-left: 5px;" onclick="write_CILOs()"
							data-dismiss="modal">
							{{ get_str('CONFIRM') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <button class="btn btn-success" onclick="CILO_dependencies_search()"></button> -->

{% endblock %}


{% block courseScript %}
<script src="/static/js/courses.js"></script>
<script>

	/**
	 * (done)hide table for CILO define
	 * (done)!!!be careful about that we should record the CILOs ID (which is from the server database)
	 * (done)carefual about selecting the same CILO in the search result
	 * (done)please connect Pre-requisites and CILO Dependencies
	 * (done)Related CILOs get value
	 * (done)Edit page, also hide table
	 * (done)main page each course should also has hide table
	 * !!!!slider user can choose 5,10,15 lines to show and buttons to next or pervious pages
	 * (done)course code, program, category
	 * (done)!!!!ajax for (done)added and edit
	 * (done)search for CILOs dependencies
	 * (done)add course alert
	 * (done)import
	 * (done)search page edit function inherit
	 * course and course_base xml configuration
	*/
	//CILOs add function
	$(document).ready(function () {
		$("#CILOs-add").click(function () {
			var index = $("#CILOs-table .new-CILOs-tbale-tr").length;
			var CILOsAdditon =
				'<tr class="new-CILOs-tbale-tr new-CILOs-tbale-tr-value" style="text-align: center;">\
				<td class="CILO-order" value="'+ index + '">CILO-' + index + '</td>\
				<td><input type="text" class="form-control CILOs-description" id="CILOs-description-' + index + '" title=""\
						oninput="descrption_update($(this))" placeholder="" value=""\
						aria-label="" aria-describedby="basic-addon1" data-toggle="tooltip" style="text-align: center;"></td>\
				<td><button type="button" class="btn btn-info" id="CILOs-define" data-toggle="modal" data-target=".define-box" onclick="read_CILOs(this)"> {{get_str("DEFINE") }}</button>\
					<table class="CILOs-hide-table" id="CILOs-hide-table-'+ index + '" style="display:none">\
						<tr style="text-align: center;">\
								<th style="display: none;">\
									CILOs unique ID\
								</th>\
								<th>\
									<label>{{ get_str("COURSE") }}</label>\
								</th>\
								<th>\
									<label>{{ get_str("CILO") }}</label>\
								</th>\
								<th style="width: 30px;">\
									<label>{{ get_str("ACTION") }}</label>\
								</th>\
							</tr>\
						</table>\
				</td>\
				<td><button type="button" class="btn btn-light CILOs-minus" onclick="CILOs_remove(this)"><i class="fa fa-minus"></i></button></td>\
			</tr>';
			$("#CILOs-table").append(CILOsAdditon);
			get_line_nums();
		});
	});
	var same_CILO_flag = false;
	function CILOs_define_page_add(obj) {
		var e = obj;
		var e2 = $(e).parents(".CLIOs-define-tr")
		same_CILO_flag = false;
		$(".define-box-added-table").find(".CILO-ID-td").each(function () {
			if ($(this).text() === $(e2).find(".CILO-ID-td").text()) {
				alert("This CILO is already added!");
				$(e2).remove();
				same_CILO_flag = true;
			}
		})
		if (same_CILO_flag) { return }
		var minus = '<button type="button" class="btn btn-light" onclick="CILOs_define_page_minus(this)">\
										<i class="fa fa-minus"></i>\
									</button>'
		$(e).parents(".CILOs-button-td").html(minus);
		var content = $(e2).html()
		var content_text = '<tr class="CLIOs-define-tr" style="text-align: center;">' + content + '</tr>'
		$(".define-box-added-table").append(content_text);
		$(e2).remove();
	}
	function get_line_nums() {
		var num = $("#CILOs-table .new-CILOs-tbale-tr").length;
		var text1 =
			'<div class="input-group mb-3">\
			<div class="input-group-prepend">\
				<div class="input-group-text"><input type="checkbox" class="Related_CILOs_CheckBox" aria-label="Checkbox for following text input" value="'
		var text2 = '" onchange="set_new_course_Related_CILOs_value(this)" >\
				</div>\
			</div><input type="text" class="form-control related-CILOs-dropbox-value" placeholder="" aria-label="Text input with checkbox" value="'
		var text3 = '" disabled></div>'
		$(".Related-CILOs-dropmenu").children().remove();
		for (var i = 1; i < num; i++) {
			$(".Related-CILOs-dropmenu").append(text1 + i + text2 + i + text3)
		}
	}
	//add Assessment methods function
	$(document).ready(function () {
		$("#new-Assessment-methods-add").click(function () {
			var append_text =
				'<tr style="text-align: center"; class="new-Assessment-methods-tr">\
			<td><input type="text" class="form-control new-Assessment-name" placeholder="" value="" aria-label=""\
					aria-describedby="basic-addon1" style="text-align: center;"></td>\
			<td>\
				<div class="input-group Related-CILOs-input"><input type="text" class="form-control Related-CILOs-input-area" placeholder="" value=""\
						aria-label="" aria-describedby="basic-addon2" style="text-align: center;" disabled>\
					<div class="input-group-append">\
						<div class="dropdown" style="display: inline; ">\
							<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"\
								aria-expanded="false" style="float:right"></button>\
							<div class="dropdown-menu Related-CILOs-dropmenu" aria-labelledby="dropdownMenuLink"></div>\
						</div>\
					</div>\
				</div>\
			</td>\
			<td><input type="text" class="form-control new-Assessment-percentage" placeholder="" value="" aria-label=""\
					aria-describedby="basic-addon1" style="text-align: center;"></td>\
			<td><button type="button" class="btn btn-light" onclick="minus(this)"><i class="fa fa-minus"></i></button></td>\
			</tr>';
			$("#Assessment-methods-table").append(append_text);
			get_line_nums();
		});
	});


	var add_json = {}
	var json_temp = {}
	var add_cilos_json;
	var add_assessment_json;
	var add_assessment_counter;
	var add_depending_cilos
	var add_assessment_related;
	function add_course() {
		//front 6 input
		add_json = {}
		json_temp = {}
		add_cilos_json = new Array();
		add_json.course_name = $("#new-course-title").val()
		add_json.course_code = $("#new-course-code").val()
		add_json.course_type_id = $("#new-course-type").attr("aria-label")
		add_json.program_id = $("#new-course-program").attr("aria-label")
		add_json.effective_since = $("#new-course-year").val()
		//CILOs table
		$("#CILOs-table").find(".new-CILOs-tbale-tr-value").each(function () {
			add_depending_cilos = new Array();
			json_temp = {}
			json_temp.cilo_index = $(this).find(".CILO-order").attr("value")
			json_temp.cilo_description = $(this).find(".CILOs-description").val()
			$(this).find(".CILO-ID-td").each(function () {
				add_depending_cilos.push($(this).text())
			})
			json_temp.cilo_description = add_depending_cilos
			add_cilos_json.push(json_temp)
		})
		add_json.cilos = add_cilos_json
		//Assessment table
		add_assessment_json = new Array();
		add_assessment_counter = 1;
		$("#Assessment-methods-table").find(".new-Assessment-methods-tr").each(function () {
			json_temp = {}
			json_temp.method_index = add_assessment_counter;
			add_assessment_counter++;
			json_temp.method_name = $(this).find(".new-Assessment-name").val();
			add_assessment_related = new Array();
			$(this).find(".Related_CILOs_CheckBox").each(function () {
				if ($(this).prop("checked") == true) {
					add_assessment_related.push($(this).val())
				}
			})
			json_temp.cilos_addressed = add_assessment_related
			json_temp.weight = $(this).find(".new-Assessment-percentage").val()
			add_assessment_json.push(json_temp)
		})
		add_json.assessment_methods = add_assessment_json
		$.ajax({
			type: "POST",
			url: "/api/v1/courses",
			async: false,
			data: JSON.stringify(add_json),
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			success: function (data) {
				console.log(data)
				$('#messageModal').find(".modal-title").text("success")
				$('#messageModal').find(".modal-body").html('<p>' + '{{ get_str(COURSE_ADD_SUCCESSFULLY) }}' + '</p>')
				$('#messageModal').modal('show')
				$("#dialog-comfirm-button").on("click", function () {
					window.location.reload()
				})
			},
			error: function (jqXHR) {
				$('#messageModal').find(".modal-title").text("error")
				$('#messageModal').find(".modal-body").html('<p>' + jqXHR.responseJSON.error + '</p>')
				$('#messageModal').modal('show')
			}
		})
	}
	function CILO_dependencies_search() {
		var text = encodeURI($("#search-text").val())

		if ($("#search-type-switch").attr("value") == 1) {
			$.ajax({
				type: "GET",
				url: "/api/v1/search/cilo?search_type=cilo&keyword=" + text,
				async: false,
				dataType: "json",
				success: function (data) {
					if (data.cilos.length == 0) {
						$('#messageModal').find(".modal-title").text("message")
						$('#messageModal').find(".modal-body").html('<p>' + "{{ get_str(NO_CORRESPOMDING) }}" + '</p>')
						$('#messageModal').modal('show')
					} else {
						$(".define-box-result-table").find(".CLIOs-define-tr").remove()
						for (var i = 0; i < data.cilos.length; i++) {
							var append_text = '\
								<tr class="CLIOs-define-tr" style="text-align: center;">\
									<td class="CILO-ID-td" style="display: none;">'+ data.cilos[i].id + '</td>\
									<td class="course-name-td">'+ data.cilos[i].course_name + '</td>\
									<td class="CILO-description-td">'+ data.cilos[i].cilo_description + '</td>\
									<td class="CILOs-button-td"><button type="button" class="btn btn-light"\
											onclick="CILOs_define_page_add(this)">\
											<i class="fa fa-plus"></i>\
										</button></td>\
								</tr>'
							$("#define-box-result-table").append(append_text)
						}
					}
				},
				error: function (jqXHR) {
					$('#messageModal').find(".modal-title").text("error")
					$('#messageModal').find(".modal-body").html('<p>' + jqXHR.responseJSON.error + '</p>')
					$('#messageModal').modal('show')
				}
			})
		} else {
			$.ajax({
				type: "GET",
				url: "/api/v1/search/cilo?keyword=" + text,
				async: false,
				dataType: "json",
				success: function (data) {
					if (data.cilos.length == 0) {
						$('#messageModal').find(".modal-title").text("message")
						$('#messageModal').find(".modal-body").html('<p>' + "{{ get_str(NO_CORRESPOMDING) }}" + '</p>')
						$('#messageModal').modal('show')
					} else {
						$(".define-box-result-table").find(".CLIOs-define-tr").remove()
						for (var i = 0; i < data.cilos.length; i++) {
							var append_text = '\
								<tr class="CLIOs-define-tr" style="text-align: center;">\
									<td class="CILO-ID-td" style="display: none;">'+ data.cilos[i].id + '</td>\
									<td class="course-name-td">'+ data.cilos[i].course_name + '</td>\
									<td class="CILO-description-td">'+ data.cilos[i].cilo_description + '</td>\
									<td class="CILOs-button-td"><button type="button" class="btn btn-light"\
											onclick="CILOs_define_page_add(this)">\
											<i class="fa fa-plus"></i>\
										</button></td>\
								</tr>'
							$("#define-box-result-table").append(append_text)
						}
					}
				},
				error: function (jqXHR) {
					$('#messageModal').find(".modal-title").text("error")
					$('#messageModal').find(".modal-body").html('<p>' + jqXHR.responseJSON.error + '</p>')
					$('#messageModal').modal('show')
				}
			})
		}
	}

	$('#search-text').keypress(function (event) {
		var keycode = (event.keyCode ? event.keyCode : event.which);
		// When entered pressed
		if (keycode == '13') {
			event.preventDefault();
			CILO_dependencies_search();
		}
	});
</script>

{% endblock %}