{% extends "base.html" %}

{% block header_script %}
<script src="/static/js/echarts.min.js"></script>
{% endblock %}

{% macro tag_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER') }}
{% endif %}
{%- endmacro %}
{% block title %} {{ tag_title() }} {% endblock%}

{% block content %}

{% macro tab_title() -%}
{{ get_str('DEPENDENCY') }}
{%- endmacro %}
<!--<button class="btn btn-success" onclick="test()"></button>-->
<div class="row">
    <div class="col" id="location">
        <span>
            <p style="font-weight:bold">{{ tab_title() }}</p>
        </span>
    </div>
</div>
<div class="row text-right" style="margin-top:-4%">
    <div class="col">
        <button class="btn btn-outline-link btn dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Degree
        </button>
        <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton" style="min-width: 0">
            <a class="dropdown-item" href="#">Degree1</a>
        </div>
    </div>
</div>


{% endblock %}

{% block dependency %}
<!-- 为ECharts准备一个具备大小（宽高）的Dom容器 -->
<div style="width: 100%;height: 80%;">
    <div id="main" style="width: 100%;height:100%;"></div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">

    window.onresize = function () {
        myChart.resize();
    }
    var flag = 10;
    var option;
    var myChart = echarts.init(document.getElementById('main'));


    $("document").ready(function () {

        $.ajax({
            type: "GET",
            url: "api/v1/dependencies",
            async: false,
            dataType: "json",
            success: function (hi) {

                //read HERE!!!!
                //首先先读取当前课程的名字，然后取出cilo的长度，添加cilo与课程的连接，之后保存post cilo用于下一次循环（如果顾客手贱想看后面的课）
                //至于如何加新的数据，只要用set.Option， 但是还得重复第一次的添加流程，只不过此时的当前课程名字变成了postcilo的课程名字。
                //console.log(hi);
                var data = new Array();
                var link = new Array();
                //get the data and process the data.
                var i = 1;//initial course id

                var tempCurrentName = {};

                tempCurrentName.name = hi.courses[i].course_name;//store the current course name
                tempCurrentName.type = 'Course';//store the current course name


                //便利所有cilo，找出所有postcilo
                //如果是空的，跳过，否则就进入下一个for去读取postcilo。

                for (var k = 0; k < hi.courses[i].cilos.length; k++) {
                    var tempCurrentlink = {};
                    var currentlinkName = {};
                    tempCurrentlink.source = hi.courses[i].course_name
                    tempCurrentlink.target = 'Cilo' + hi.courses[i].cilos[k].id;//store the current course cilos
                    currentlinkName.name = 'Cilo' + hi.courses[i].cilos[k].id;
                    currentlinkName.type = 'Cilo';
                    link.push(tempCurrentlink);
                    data.push(currentlinkName);

                    if (hi.courses[i].cilos[k].post_cilos.length == 0) {
                        tempCurrentName.post = [];
                        continue;
                    }
                    else {
                        //遍历所有postcilo
                        var templist = new Array();
                        for (var j = 0; j < hi.courses[i].cilos[k].post_cilos.length; j++) {
                            //console.log(hi.courses[i].cilos[k].post_cilos[j].course_id);
                            //找到并记录下postcilo
                            templist.push(hi.courses[i].cilos[k].post_cilos[j].course_id)
                        }
                        tempCurrentName.post = templist;
                    }
                }
                data.push(tempCurrentName);
                //格式如下


                option = {

                    tooltip: {},
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    series: [
                        {
                            type: 'graph',
                            layout: 'force',
                            symbol: 'rect',
                            symbolSize: 90,
                            roam: true,
                            label: {
                                show: true,
                                overflow: "break",
                                width: 100//文字自适应
                            },
                            edgeSymbol: ['circle', 'arrow'],
                            edgeSymbolSize: [5, 10],
                            edgeLabel: {
                                fontSize: 20
                            },
                            force: {
                                initLayout: "circular",
                                repulsion: 4000,
                                layoutAnimation: false,
                            },
                            overflow: "break",
                            data: data,
                            // links: [],
                            links: link,

                        }
                    ]
                };
                myChart.setOption(option);

                myChart.on('click', function (params) {
                    alert("link is " + params.data.link + "the total" + hi.course_name);
                    let self = this;
                    self.nodeIdx = params.dataIndex;

                    var parent = i;
                    if (params.data.type == 'Course') {
                        for (var a = 0; a < params.data.post.length; a++) {
                            //这一块是记录course基本信息
                            i = params.data.post[a];//course id
                            tempCurrentName = {};
                            tempCurrentName.name = hi.courses[i].course_name;//store the current course name
                            tempCurrentName.type = 'Course';//store the current course name
                            //这块区域是连接儿子和他爸的
                            tempCurrentlink = {};
                            tempCurrentlink.source = hi.courses[parent].course_name
                            tempCurrentlink.target = hi.courses[i].course_name;//store the current course cilos
                            link.push(tempCurrentlink);
                            //这一块是连接儿子课自己cilo的
                            for (k = 0; k < hi.courses[i].cilos.length; k++) {
                                tempCurrentlink = {};
                                currentlinkName = {};
                                tempCurrentlink.source = hi.courses[i].course_name
                                tempCurrentlink.target = 'Cilo' + hi.courses[i].cilos[k].id;//store the current course cilos
                                currentlinkName.name = 'Cilo' + hi.courses[i].cilos[k].id;
                                currentlinkName.type = 'Cilo';
                                link.push(tempCurrentlink);
                                data.push(currentlinkName);

                                if (hi.courses[i].cilos[k].post_cilos.length == 0) {
                                    tempCurrentName.post = [];
                                    continue;
                                }
                                else {
                                    //遍历所有postcilo
                                    var templist = new Array();
                                    for (var j = 0; j < hi.courses[i].cilos[k].post_cilos.length; j++) {
                                        //console.log(hi.courses[i].cilos[k].post_cilos[j].course_id);
                                        //找到并记录下postcilo
                                        templist.push(hi.courses[i].cilos[k].post_cilos[j].course_id)
                                    }
                                    tempCurrentName.post = templist;
                                }
                            }
                         data.push(tempCurrentName);
                        }
                    }
                    myChart.setOption(option);
                });
                


            },
            error: function () {
                alert("failed")
            }
        })
    })





</script>
{% endblock %}