{% extends "base.html" %}

{% block header_script %}
<script src="/static/js/echarts.min.js"></script>
{% endblock %}

{% macro tag_title() -%}
{% if session['user_type'] == STUDENT %}
{{ get_str('STUDENT') }}
{% elif session['user_type'] == LECTURER %}
{{ get_str('LECTURER') }}
{% elif session['user_type'] == COURSE_DESIGNER %}
{{ get_str('COURSE_DESIGNER') }}
{% endif %}
{%- endmacro %}
{% block title %} {{ tag_title() }} {% endblock%}

{% block content %}

{% macro tab_title() -%}
{{ get_str('DEPENDENCY') }}
{%- endmacro %}
<!--<button class="btn btn-success" onclick="test()"></button>-->
<div class="row">
    <div class="col" id="location">
        <span>
            <p style="font-weight:bold">{{ tab_title() }}</p>
        </span>
    </div>
</div>
<div class="row text-right" style="margin-top:-4%">
    <div class="col">
        <button class="btn btn-outline-link btn dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ data['degrees'][data['selected_index']-1].name }}
        </button>
        <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton" style="min-width: 0">
            {% for degree in data['degrees'] %}
            <a class="dropdown-item"
                href="{{ url_for('dependency.dependency') }}?degree={{ degree.id }}">{{ degree.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

{% block dependency %}
<!-- 为ECharts准备一个具备大小（宽高）的Dom容器 -->
<div style="width: 100%;height: 80%;">
    <div id="main" style="width: 100%;height:100%;"></div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">

    window.onresize = function () {
        myChart.resize();
    }
    var flag = 10;
    var option;
    var myChart = echarts.init(document.getElementById('main'));
    //检查是否有重复字符串
    function judgeRepeated(str) {
        var isRepeat = false;
        for (let v of [...str]) {
            if (str.indexOf(v) !== str.lastIndexOf(v)) {
                isRepeat = true;
                break;
            }
        }
        return isRepeat
    }



    $("document").ready(function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var degreeId = urlParams.get('degree')
        if (degreeId === null) {
            degreeId = 1;
        }

        $.ajax({
            type: "GET",
            url: "api/v1/dependencies?degree=" + degreeId,
            async: false,
            dataType: "json",
            success: function (hi) {

                //read HERE!!!!
                //首先先读取当前课程的名字，然后取出cilo的长度，添加cilo与课程的连接，之后保存post cilo用于下一次循环（如果顾客手贱想看后面的课）
                //至于如何加新的数据，只要用set.Option， 但是还得重复第一次的添加流程，只不过此时的当前课程名字变成了postcilo的课程名字。
                //console.log(hi);

                var data = new Array();
                var link = new Array();
                //get the data and process the data.
                for (var i = 0; i < hi.courses.length; i++) {
                    var course = {};
                    var cilolist = new Array();//remember the course own cilo
                    course.name = hi.courses[i].course_name;



                    //add current cilo data and the link with the current node
                    for (var j = 0; j < hi.courses[i].cilos.length; j++) {
                        var cc = {};
                        cc.name = 'CILO' + hi.courses[i].cilos[j].id;
                        var currentLink = {};
                        currentLink.source = course.name;
                        currentLink.target = cc.name;
                        link.push(currentLink);
                        data.push(cc);
                        var temppostCilo = new Array();
                        var temppreCilo = new Array();
                        /*for (var z = 0; z < hi.courses[i].cilos[j].post_cilos.length; z++) {
                            temppostCilo.push(hi.courses[i].cilos[j].post_cilos[z].course_id);
                            var postlink = {};
                            var id = hi.courses[i].cilos[j].post_cilos[z].id;
                            for (var t = 0; t < hi.courses.length; t++) {
                                for (var x = 0; x < hi.courses[t].cilos.length; x++) {
                                    for (var y = 0; y < hi.courses[t].cilos.post_cilos.length; y++) {
                                        if (id == hi.courses[t].cilo[x].post_cilos[y].id) {
                                            //console.log('!');
                                            postlink.source = 'CILO' + hi.courses[i].cilos[j].id;
                                            postlink.target = 'CILO' + hi.courses[t].cilo[x].post_cilos[y].id;
                                            link.push(postlink);
                                            break;
                                        }
                                    }
                                }

                            }
                            console.log(id);

                        }*/
                        for (var z = 0; z < hi.courses[i].cilos[j].post_cilos.length; z++) {
                            temppostCilo.push(hi.courses[i].cilos[j].post_cilos[z].course_id);
                            var postlink = {};
                            var id = hi.courses[i].cilos[j].post_cilos[z].id;
                            postlink.source = 'CILO' + hi.courses[i].cilos[j].id;
                            postlink.target = 'CILO' + id;
                            link.push(postlink);
                            console.log(id);
                        }

                        for (var z = 0; z < hi.courses[i].cilos[j].pre_cilos.length; z++) {
                            temppreCilo.push(hi.courses[i].cilos[j].pre_cilos[z].course_id);
                            var prelink = {};
                            var id = hi.courses[i].cilos[j].pre_cilos[z].id

                            prelink.source = 'CILO' + id;
                            prelink.target = 'CILO' + hi.courses[i].cilos[j].id;
                            link.push(prelink);

                        }

                        course.postcilo = temppostCilo;
                        course.precilo = temppreCilo;
                    }
                    data.push(course);

                    console.log(data);
                    console.log(link);
                }

                option = {

                    tooltip: {},
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    series: [
                        {
                            hoverAnimation: true,
                            type: 'graph',
                            layout: 'force',
                            symbol: 'rect',
                            top: '5%',
                            left: '7%',
                            bottom: '2%',
                            right: '60%',
                            symbolSize: 80,
                            roam: true,
                            label: {
                                show: true,
                                overflow: "break",
                                width: 100//文字自适应
                            },
                            edgeSymbol: ['circle', 'arrow'],
                            edgeSymbolSize: [5, 10],
                            edgeLabel: {
                                fontSize: 10
                            },
                            force: {
                                initLayout: "circular",
                                repulsion: 2500,
                                layoutAnimation: false,
                            },
                            lineStyle: {
                                color: 'source',
                            },
                            overflow: "break",
                            data: data,
                            // links: [],
                            links: link,

                        }
                    ]
                };
                myChart.setOption(option);





            },
            error: function () {
                alert("failed")
            }
        })
    })





</script>
{% endblock %}