{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block base_css %}
	<link rel="stylesheet" href="/static/css/base.css">
{% endblock %}

{% block content %}
<div class="container text-center">
  <form class="search" method="post">
    <img class="mb-4" src="/static/logo_horizontal.png" alt="" width=360>
    <h1 class="h3 mb-3 font-weight-normal">{{ get_str('SEARCH') }}</h1>
    <br><br>
    <form class="bs-example bs-example-form" role="form">
      <div class="row justify-content-center bg-light">
        <div class="col-lg-8 align-self-center">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ get_str('COURSES') }}
              </button>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" id="type_course" onclick="search_type_select(this)">{{ get_str('COURSES') }}</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" id="type_CILO" onclick="search_type_select(this)">{{ get_str('CILOS') }}</a>
                </li>
              </ul>
            </div>
            <label for="Search" class="sr-only">{{ get_str('SEARCH') }}</label>
            <input type="text" id="search" name="search" class="form-control" placeholder="Search" required=""
              autofocus="">
            <div>
              <button class="btn btn-light" type="submit" name="submit"><a href="searchResults">Search</a></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </form>
</div>

{% endblock %}

{% block script %}
<script>
  // TODO: add form to search button to change search type

  // change search type
  // $(document).ready(function(){
  //   $("#type_course").click(function(){
  //     
  //   });
  // });

  // $(document).ready(function(){
  //   $("#type_CILO").click(function(){
  //     
  //   });
  // });

    function search_type_select(obj) {
      var e = obj
      var text = $(e).text();
		//console.log(text);
		$("#dropdownMenuButton").text(text);
    }
</script>
{% endblock %}